#abas{
   // border: 1px solid green;
}

.conteudo{
    border: 1px solid red;
}

.selecionado {
    background-color: #c6c8ca;
}

#abas ul{
    display: inline;
}

#abas ul li {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
}

.conteudo{
    border: 1px solid red;
}
